.html-container > div table caption, .html-container > div table th, .html-container-panel .html-container > div > section > h1:first-child, .html-accordion .html-container > div > section > h1:first-child, .html-accordion .html-container > div > section > h2:first-child, .html-accordion .html-container > div > section > h3:first-child, .html-accordion .html-container > div > section > h4:first-child, .html-accordion .html-container > div > section > h5:first-child {
  background: #c4c4c4 -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.8)), to(rgba(255, 255, 255, 0)));
  border: 1px solid #a8a8a8;
  box-shadow: inset 0 1px 0 white;
  color: #333333;
  font-weight: bold;
  padding: .5em 1em .3em;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }

ol, ul {
  list-style: inherit;
  padding-left: 40px; }

.ofxBold {
  font-weight: bold; }

.ofxItalic {
  font-style: italic; }

.html-container {
  color: #4f4f4f;
  font-family: Arial, sans-serif;
  font-size: 11px;
  line-height: 22px; }
  .html-container > div > section {
    padding: 1em; }
    .html-container > div > section > section > section h1, .html-container > div > section > section > section h2, .html-container > div > section > section > section h3, .html-container > div > section > section > section h4, .html-container > div > section > section > section h5 {
      font-size: 1em;
      margin-bottom: 0.5em; }
    .html-container > div > section > section h1, .html-container > div > section > section h2, .html-container > div > section > section h3, .html-container > div > section > section h4, .html-container > div > section > section h5 {
      font-size: 1.2em;
      letter-spacing: normal;
      margin-bottom: 0.75em; }
    .html-container > div > section h1, .html-container > div > section h2, .html-container > div > section h3, .html-container > div > section h4, .html-container > div > section h5 {
      color: #333333;
      font-size: 1.4em;
      letter-spacing: -1;
      margin-bottom: 1em; }
    .html-container > div > section section {
      border: 1px solid #a8a8a8;
      border-width: 1px 0;
      padding: 1em .5em; }
      .html-container > div > section section:first-child {
        border-top: none; }
      .html-container > div > section section:last-child {
        border-bottom: none; }
      .html-container > div > section section ~ section {
        border-top: none; }
  .html-container > div section > *:first-child {
    margin-top: 0; }
  .html-container > div section > *:last-child {
    margin-bottom: 0; }
  .html-container > div section > section:first-child {
    padding-top: 0; }
  .html-container > div section > section:last-child {
    padding-bottom: 0; }
  .html-container > div table {
    border-collapse: collapse; }
    .html-container > div table caption {
      border-bottom: 0;
      border-radius: 3px 3px 0 0; }
    .html-container > div table tbody tr {
      background: white; }
      .html-container > div table tbody tr:nth-child(2n) {
        background: #f1f4f9; }
      .html-container > div table tbody tr td {
        padding: 4px 10px;
        overflow: hidden;
        border: 1px solid #a8a8a8; }

.html-container-panel {
  background: #f2f2f2; }
  .html-container-panel .ui-panel-content {
    padding: 0; }
  .html-container-panel .html-container > div > section > h1:first-child {
    border-radius: 3px;
    font-size: 1em;
    letter-spacing: normal;
    line-height: 12px;
    margin: -1em -1em 1em; }
    .html-container-panel .html-container > div > section > h1:first-child + section {
      border-top: none;
      margin-top: 0;
      padding-top: 0; }

.no-header-panel .html-container > div > section > h1:first-child {
  display: none; }
  .no-header-panel .html-container > div > section > h1:first-child + section {
    border-top: none;
    padding-top: 0; }

.html-accordion {
  padding: 0;
  border: none; }
  .html-accordion .html-container > div {
    padding: 1em; }
    .html-accordion .html-container > div > section {
      background: #f2f2f2;
      border: 1px solid #a8a8a8;
      border-radius: 3px;
      box-sizing: border-box;
      margin-top: 1em;
      padding: 1em;
      height: 33px;
      overflow: hidden; }
      .html-accordion .html-container > div > section[data-collapsed=false] > h1:first-child, .html-accordion .html-container > div > section[data-collapsed=false] > h2:first-child, .html-accordion .html-container > div > section[data-collapsed=false] > h3:first-child, .html-accordion .html-container > div > section[data-collapsed=false] > h4:first-child, .html-accordion .html-container > div > section[data-collapsed=false] > h5:first-child {
        background-color: white; }
        .html-accordion .html-container > div > section[data-collapsed=false] > h1:first-child:before, .html-accordion .html-container > div > section[data-collapsed=false] > h2:first-child:before, .html-accordion .html-container > div > section[data-collapsed=false] > h3:first-child:before, .html-accordion .html-container > div > section[data-collapsed=false] > h4:first-child:before, .html-accordion .html-container > div > section[data-collapsed=false] > h5:first-child:before {
          transform: rotate(90deg); }
      .html-accordion .html-container > div > section > h1:first-child, .html-accordion .html-container > div > section > h2:first-child, .html-accordion .html-container > div > section > h3:first-child, .html-accordion .html-container > div > section > h4:first-child, .html-accordion .html-container > div > section > h5:first-child {
        border-width: 0 0 1px 0;
        box-sizing: border-box;
        cursor: pointer;
        font-size: 1em;
        height: 32px;
        letter-spacing: normal;
        margin: -1em -1em 0.5em -1em;
        transition: background 1s ease-in-out; }
        .html-accordion .html-container > div > section > h1:first-child:before, .html-accordion .html-container > div > section > h2:first-child:before, .html-accordion .html-container > div > section > h3:first-child:before, .html-accordion .html-container > div > section > h4:first-child:before, .html-accordion .html-container > div > section > h5:first-child:before {
          content: '';
          display: inline-block;
          font-family: 'primeicons';
          margin-right: .5em;
          transition: transform 1s ease-in-out; }

.html-tab {
  border: none;
  padding: 0; }
  .html-tab .ui-panel-content {
    padding: 0; }
  .html-tab .ui-tabs-header:hover {
    border: 1px solid #7096ab;
    background: #85b2cb -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.6)), to(rgba(255, 255, 255, 0)));
    font-weight: bold;
    color: #313131;
    box-shadow: 0 0 8px #85b2cb; }
  .html-tab .ui-tabs-panel section {
    overflow: hidden; }
