@import 'ofxCommon';

ol, ul {
	padding-left: 40px;
}

.ofxBold  {font-weight: bold;}
.ofxItalic{font-style: italic;}

.html-container {
	color: $foreground-colour;
	font-family: Arial, sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
																 
	> div {
		> section {
			padding: 1em;
			
			> section {
				> section {
					h1, h2, h3, h4, h5 {
						font-size: 1em;
						margin-bottom: 0.5em;
					}
				}
				
				h1, h2, h3, h4, h5 {
					font-size: 1.2em;
					letter-spacing: normal;
					margin-bottom: 0.75em;
				}
			}

			h1, h2, h3, h4, h5 {
				color: $panel-header-foreground-colour;
				font-size: 1.4em;
				letter-spacing: -1;
				margin-bottom: 1em;
			}

			section {
				border: $border;
				border-width: 1px 0;
				padding: 1em .5em;

				&:first-child {
					border-top: none;
				}

				&:last-child {
					border-bottom: none;
				}

				~ section {
					border-top: none;
				}
				
				
			}
		}

		section {
			> * {
				&:first-child {
					margin-top: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
			
			> section {
				&:first-child {
					padding-top: 0;
				}
				
				&:last-child {
					padding-bottom: 0;
				}
			}
		}

		table {
			border-collapse: collapse;

			caption {
				@extend %header;

				border-bottom: 0;
				border-radius: 3px 3px 0 0;
			}

			th {
				@extend %header;
			}

			tbody {
				tr {
					background: $table-odd-row-background-colour;

					&:nth-child(2n) {
						background: $table-even-row-background-colour;
					}

					td {
						padding: 4px 10px;
						overflow: hidden;
						border: $border;
					}
				}
			}
		}
	}
}

.html-container-panel {
	background: $panel-background-colour;
	
	.ui-panel-content {
		padding: 0;
	}

	.html-container {
		> div {
			> section {
				> h1:first-child {
					@extend %header;
					
					border-radius: 3px;
					font-size: 1em;
					letter-spacing: normal;
					line-height: 12px;
					margin: -1em -1em 1em;

					+ section {
						border-top: none;
						margin-top: 0;
						padding-top: 0;
					}
				}
			}
		}
	}
}

.no-header-panel {
	.html-container {
		> div {
			> section {
				> h1 {
					&:first-child {
						display: none;
						
						+ section {
							border-top: none;
							padding-top: 0;
						}
					}
				}
			}
		}
	}
}

.html-accordion {
	padding: 0;
    border: none;

	.html-container {
		> div {
			> section {
				background: $panel-background-colour;
				border: $border;
				border-radius: 3px;
				box-sizing: border-box;
				margin-top: 1em;
				padding: 1em;
				height: 33px;
				overflow: hidden;
				
				&:first-child {
					margin-top: 0;
				}

				&[data-collapsed=false] {
					> h1, > h2, > h3, > h4, > h5 {
						&:first-child {
							background-color: $panel-header-active-background-colour;
							
							&:before {
								transform: rotate(90deg);
							}
						}
					}
				}
				
				> h1, > h2, > h3, > h4, > h5 {
					&:first-child {
						@extend %header;
						
						border-width: 0 0 1px 0;
						box-sizing: border-box;
						cursor: pointer;
						font-size: 1em;
						height: 32px;
					    letter-spacing: normal;
					    margin: -1em -1em 0.5em -1em;
						transition: background 1s ease-in-out;
						
						&:before {
							content: '';
							display: inline-block;
						    font-family: 'primeicons';
						    margin-right: .5em;
							transition: transform 1s ease-in-out;
						}
					}
				}
			}
		}
	}
}

.html-tab {
	border: none;
	padding: 0;
	
	.ui-panel-content {
		padding: 0;
	}
	
	.ui-tabs-header {
		&:hover {
			border: 1px solid #7096ab;
		    background: #85b2cb -webkit-gradient(linear,left top,left bottom,from(rgba(255,255,255,0.6)),to(rgba(255,255,255,0)));
		    font-weight: bold;
		    color: #313131;
		    box-shadow: 0 0 8px #85b2cb;
		}
	}
	
	.ui-tabs-panel {
		section {
			overflow: hidden;
		}
	}
}